

<p>
  <strong><%= @comment.content %></strong>
</p>


<%= link_to 'Edit', edit_post_comment_path({id: @comment.id}) %> |
<%= button_to 'Destroy', {action: 'destroy', controller: 'comments'}, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'Back', @post %>
