<div class="page-header">
  <h1>All Posts</h1>
</div>

<%= link_to "New Post", new_post_path, class: "btn btn-success" %>

<% @posts.each do |post| %>
<div class= "post">
   <strong><%=post.title%></strong>
   <p><%=post.body%></p>
   <div class= "meta">
     <%=link_to time_ago_in_words(post.created_at)+ " ago", post%>
     <span class="admin">
       | <%= link_to "Edit", edit_post_path(post)%> |
       <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
     </span>
     </br>
     </div>
   </div>
</div>
<% end %>