<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <table>
    <tr><td><strong>Comments:</strong></td></tr>

    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', post_comment_path({id: comment.id, post_id: comment.post_id}) %></td>
      </tr>
    <% end %>
  </table
</p>

<%= link_to 'New Comment', new_post_comment_path(@post) %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
