// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	border-bottom: solid 1px #CCC;
	padding: 5px;
}

.post p{
	margin: 4px 0;
}

.post.hover{
	background: #FAFAFA
}

